.invisible {
  opacity: 0;
}

@keyframes to_visible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes infowrap {
  from {
    height: 200px;
  }
  to {
    height: 300px;
  }
}
@keyframes logo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes accessing {
  from {
    top: 200px;
  }
  to {
    top: 160px;
  }
}
@keyframes proj_arch {
  from {
    left: -100px;
  }
  to {
    left: 100px;
  }
}
@keyframes dev {
  from {
    top: 270px;
  }
  to {
    top: 220px;
  }
}
@keyframes woong {
  from {
    top: 285px;
  }
  to {
    top: 235px;
  }
}
.infoWrap_loading {
  height: 200px;
  animation: infowrap 3s cubic-bezier(0.965, 0.19, 0.385, 0.965) forwards;
}
.infoWrap_loading > img {
  animation: logo 1s ease-in-out forwards;
}
.infoWrap_loading > span:nth-child(2) {
  opacity: 0;
  animation: accessing 1s cubic-bezier(0, 0, 0, 1) forwards,
    to_visible 0.5s ease-in-out forwards;
  animation-delay: 0.5s;
}
.infoWrap_loading > div:nth-child(3) {
  opacity: 0;
  animation: proj_arch 2s cubic-bezier(0, 0.4, 0, 1) forwards,
    to_visible 0.5s ease-in-out forwards;
  animation-delay: 1s;
}
.infoWrap_loading > span:nth-child(4) {
  opacity: 0;
  animation: dev 1s cubic-bezier(0, 0, 0, 1) forwards,
    to_visible 0.5s ease-in-out forwards;
  animation-delay: 1.7s;
}
.infoWrap_loading > h2:nth-child(5) {
  opacity: 0;
  animation: woong 0.7s cubic-bezier(0, 0, 0, 1) forwards,
    to_visible 0.5s ease-in-out forwards;
  animation-delay: 2s;
}
.infoWrap_loading > span:nth-child(6) {
  opacity: 0;
  animation: to_visible 0.5s ease-in-out forwards;
  animation-delay: 1s;
}

.frontGradBG_loading {
  opacity: 0;
  animation: to_visible 1s linear forwards;
}
