.invisible {
  opacity: 0;
}

@keyframes to_visible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes infowrap {
  from {
    transform: translateY(25%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes logo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes accessing {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes proj_arch {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes dev_woong {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
  }
}
.infoWrap_loading {
  animation: infowrap 3s cubic-bezier(0.965, 0.19, 0.385, 0.965) forwards;
  animation-delay: 0.5s;
  transition: opacity 0.5s linear;
}
.infoWrap_loading > img {
  opacity: 0;
  animation: logo 1s ease-in-out forwards, to_visible 0.5s ease-in-out forwards;
  animation-delay: 0.5s;
}
.infoWrap_loading > div > span:nth-child(1) {
  opacity: 0;
  animation: accessing 1s cubic-bezier(0, 0, 0, 1) forwards,
    to_visible 0.5s ease-in-out forwards;
  animation-delay: 1s;
}
.infoWrap_loading > div > div:nth-child(2) {
  opacity: 0;
  animation: proj_arch 2s cubic-bezier(0, 0.4, 0, 1) forwards,
    to_visible 0.5s ease-in-out forwards;
  animation-delay: 1.5s;
}
.infoWrap_loading > div > div:nth-child(3) > h1:last-child {
  opacity: 0;
  animation: to_visible 1s linear forwards;
  animation-delay: 1.5s;
}
.infoWrap_loading > div > span:nth-child(4) {
  opacity: 0;
  animation: dev_woong 1s cubic-bezier(0, 0, 0, 1) forwards,
    to_visible 0.5s ease-in-out forwards;
  animation-delay: 2.2s;
}
.infoWrap_loading > div > h2:nth-child(5) {
  opacity: 0;
  animation: dev_woong 0.7s cubic-bezier(0, 0, 0, 1) forwards,
    to_visible 0.5s ease-in-out forwards;
  animation-delay: 2.5s;
}

.frontGradBG_loading {
  opacity: 0;
  animation: to_visible 1.5s linear forwards;
}

.tab_open {
  opacity: 0;
  animation: to_visible 0.5s linear forwards;
}
